<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nls.BaseAssembly.Properties.Settings.NlsLinksConnectionString"
            connectionString="Data Source=BEE\BASS;Initial Catalog=NlsLinks;Integrated Security=True;TimeOut=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>